<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee.entity.mapper.AdminRoleMapper">
    <!--&lt;!&ndash; 返回值映射map &ndash;&gt;-->
    <!--<resultMap id="adminRoleMapper" type="com.lee.entity.AdminRoleModel">-->
        <!--<result property="id" column="id"/>-->
        <!--<result property="roleWorkId" column="role_work_id"/>-->
        <!--<result property="adminId" column="admin_id"/>-->
    <!--</resultMap>-->

    <!--&lt;!&ndash; 查询数量公共sql &ndash;&gt;-->
    <!--<sql id="count_Tail">-->
		<!--select count(1) from admin_role record-->
	<!--</sql>-->

    <!--&lt;!&ndash; 分页公共sql &ndash;&gt;-->
    <!--<sql id="pagination_tail">-->
	  <!--limit #{page.pageOffset} , #{page.rows}-->
	<!--</sql>-->
    <!--&lt;!&ndash; 查询字段公共sql &ndash;&gt;-->
    <!--<sql id="selectAllColumns">-->
        <!--SELECT-->
        <!--<if test="queryFields != null">-->
            <!--<trim prefix="" suffix="" suffixOverrides=",">-->
                <!--<foreach collection="queryFields" item="fi" index="index">-->
                    <!--${fi},-->
                <!--</foreach>-->
            <!--</trim>-->
        <!--</if>-->
        <!--<if test="queryFields == null">-->
            <!--<![CDATA[-->
				 <!--id, -->
				 <!--role_work_id, -->
				 <!--admin_id -->
			<!--]]>-->
        <!--</if>-->
        <!--FROM admin_role record-->
    <!--</sql>-->

    <!--<sql id="where_fragement">-->
        <!--where is_delete = 0-->
        <!--<if test="entity!=null">-->
            <!--<if test="entity.id != null and entity.id != ''">-->
                <!--<![CDATA[ and record.id  = #{entity.id} ]]>-->
            <!--</if>-->
            <!--<if test="entity.roleWorkId != null and entity.roleWorkId != ''">-->
                <!--<![CDATA[ and record.role_work_id  = #{entity.roleWorkId} ]]>-->
            <!--</if>-->
            <!--<if test="entity.adminId != null and entity.adminId != ''">-->
                <!--<![CDATA[ and record.admin_id  = #{entity.adminId} ]]>-->
            <!--</if>-->
        <!--</if>-->
    <!--</sql>-->

    <!--&lt;!&ndash; 分页查询数据集合&ndash;&gt;-->
    <!--<select id="queryPage" resultMap="adminRoleMapper">-->
        <!--<include refid="selectAllColumns"/>-->
        <!--<include refid="where_fragement"/>-->
        <!--<if test="page!=null">-->
            <!--<include refid="pagination_tail"/>-->
        <!--</if>-->
    <!--</select>-->

    <!--&lt;!&ndash; 不分页查询数据集合&ndash;&gt;-->
    <!--<select id="queryList" resultMap="adminRoleMapper">-->
        <!--<include refid="selectAllColumns"/>-->
        <!--<include refid="where_fragement"/>-->
    <!--</select>-->

    <!--&lt;!&ndash; 查询总数量 &ndash;&gt;-->
    <!--<select id="queryCount" resultType="long">-->
        <!--<include refid="count_Tail"></include>-->
        <!--<include refid="where_fragement"></include>-->
    <!--</select>-->

    <!--&lt;!&ndash; 查询单个实体 &ndash;&gt;-->
    <!--<select id="queryById" resultMap="adminRoleMapper">-->
        <!--<include refid="selectAllColumns"/>-->
        <!--where-->
        <!--record.id = #{id}-->
    <!--</select>-->

    <!--&lt;!&ndash; 新增 &ndash;&gt;-->
    <!--<insert id="add" useGeneratedKeys="true" keyProperty="id"-->
            <!--parameterType="com.oristartech.pipeline.model.AdminRoleModel">-->
		<!--insert into admin_role(-->
				<!--id,-->
				<!--role_work_id,-->
				<!--admin_id-->
		<!--)values(-->
				<!--#{id},-->
				<!--#{roleWorkId},-->
				<!--#{adminId}-->
		<!--)-->
	<!--</insert>-->
    <!--&lt;!&ndash; 编辑 &ndash;&gt;-->
    <!--<update id="update" parameterType="com.oristartech.pipeline.model.AdminRoleModel">-->
        <!--update admin_role record-->
        <!--<set>-->
            <!--<if test="roleWorkId != null ">-->
                <!--record.role_work_id = #{roleWorkId},-->
            <!--</if>-->
            <!--<if test="adminId != null ">-->
                <!--record.admin_id = #{adminId}-->
            <!--</if>-->
        <!--</set>-->
        <!--where id = #{id}-->
    <!--</update>-->

    <!--&lt;!&ndash; 删除 &ndash;&gt;-->
    <!--<update id="deleteByIds">-->
        <!--update admin_role set is_delete = 1-->
        <!--<if test=" codes != null and codes.length > 0 ">-->
            <!--where id in-->
            <!--<foreach collection="codes" open="(" separator="," close=")" item="code">-->
                <!--#{code}-->
            <!--</foreach>-->
        <!--</if>-->
        <!--<if test=" codes == null or codes.length == 0 ">-->
            <!--where 1 = 3-->
        <!--</if>-->
    <!--</update>-->
    <!--<update id="delete">-->
        <!--update admin_role set is_delete = 1-->
        <!--<if test=" id != null and id != ''">-->
            <!--where id = #{id}-->
        <!--</if>-->
        <!--<if test=" id == null or id == '' ">-->
            <!--where 1 = 3-->
        <!--</if>-->
    <!--</update>-->

</mapper>