<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee.mapper.PictureTagMapper">
    <!-- 返回值映射map -->
    <resultMap id="pictureTagMapper" type="com.lee.entity.PictureTagModel">
        <result property="id" column="id"/>
        <result property="workId" column="work_id"/>
        <result property="tagName" column="tag_name"/>
        <result property="tagCnName" column="tag_cn_name"/>
        <result property="tagDesc" column="tag_desc"/>
        <result property="tagLevel" column="tag_level"/>
    </resultMap>

</mapper>