<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee.mapper.PictureMapper">
    <!-- 返回值映射map -->
    <resultMap id="pictureMapper" type="com.lee.entity.PictureModel">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="tags" column="tags"/>
        <result property="instructions" column="instructions"/>
        <result property="remark" column="remark"/>
        <result property="isRecommend" column="is_recommend"/>
        <result property="adminId" column="admin_id"/>
        <result property="viewNum" column="view_num"/>
        <result property="commentNum" column="comment_num"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="sort" column="sort"/>
        <result property="picUrl" column="pic_url"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
    </resultMap>

</mapper>